/* Base fontsize */ 
.fs-x-small {
  font-size:0.833em
} 

.fs-small {
  font-size:0.917em
} 

.fs-medium {
  font-size:1em
} 

.fs-large {
  font-size:1.083em
} 

.fs-x-large {
  font-size:1.167em
} 

.fs-xx-large {
  font-size:1.25em
} 

.fs-xxx-large {
  font-size:1.333em
}
